/* body{
    background-color: red;
} */
#navbar{
    flex-direction: column;
}
#services{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
#home{
    height: 400px;
}
#home::before{
    height: 450px;
}
#home p{
    font-size: 13px;
}
.h-primary{
    font-size: 20px;
}

#services .box{
    
}
.services-container{
    height: 892px;
}
#clients{
    flex-wrap: wrap;
    height: 360px;

}
#clients img{
   flex-direction: row;
    width: 17%;
    padding:0px 5px ;
    height: auto;
}
#contact-box{
    height: 445x;
}
#contact-box textarea,#contact-box input{
    width: 100%;
    /* padding: 0.5rem; */
    border-radius: 9px;
    font-size: 1.0rem;
    height: 30px;
}
#contact-box form{
    width: 80%;
    /* height: 10px; */
}
#contact-box label{
    font-size: 1.3rem;
    font-family:'Bree Serif', serif ;
}